body
{
    padding: 0;
    margin: 0;
}
.account
{
    color:rgb(245, 30, 15);
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgb(196, 142, 142);
}

input::placeholder
{
    font-size: 15px;
    opacity: 1;
}

.search-box
{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    border-left:2px solid #fff ;
    border-radius: 5px;
    padding: 0px 0px 0px 5px;
    
}

.categories
{
    width: 340px;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    padding-top: 30px;
    justify-content: flex-start;
    text-transform: uppercase;
    align-items: center;
}

.category-title
{
  
  font-size: 18px; 
  text-align: center;
  border: 1px solid rgb(254, 117, 107);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 1px 2px 2px rgb(253, 91, 79);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 224, 222);
  cursor: pointer;
  margin-bottom: 20px;
}

.form-control
{
    border: 1px solid #d1cecee3;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 30px;
}